:root {
  --colorBackground: rgb(151, 147, 147);
  --colorSquare: white;
  --colorBackgrSelector: #ededc6f9;
  --colorBorderBtn: black;
  --colorBtn5: #ff1493; /* DeepPink */
  --colorBtn2: #ffa500; /* Orange */
  --colorBtn4: #da70d6; /* Orchid */
  --colorBtn1: #ffd700; /* Gold */
  --colorBtn3: #00ffff; /* Cyan */
  --colorBtn6: #dc143c; /* Crimson */
  --colorBtn7: #0000ff; /* Blue */
  --colorBtn8: #000000; /* Black */
  --colorActive: red;
  --colorShadow: rgba(49, 138, 172, 1);
}

* {
  margin: 0;
  padding: 0;
}

/* GRID */
.grid-square {
  background: var(--colorBackground);
  border: 1px solid var(--colorBackground);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(auto);
  inset: 0;
  position: absolute;
}

.square {
  background-color: var(--colorSquare);
}

/* SELECTOR */
.color-selector {
  background: var(--colorBackgrSelector);
  display: none;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  width: auto;
  z-index: 99;
}

button {
  align-items: stretch;
  border: 2px solid var(--colorBorderBtn);
  height: 40px;
  margin: 3px;
  transition: all 1s ease;
  width: 40px;
}

.btn1-color {
  background-color: var(--colorBtn1);
}
.btn2-color {
  background-color: var(--colorBtn2);
}
.btn3-color {
  background-color: var(--colorBtn3);
}
.btn4-color {
  background-color: var(--colorBtn4);
}
.btn5-color {
  background-color: var(--colorBtn5);
}
.btn6-color {
  background-color: var(--colorBtn6);
}
.btn7-color {
  background-color: var(--colorBtn7);
}
.btn8-color {
  background-color: var(--colorBtn8);
}

button:hover {
  box-shadow: 0 4px 16px var(--colorShadow);
  transition: all 0.2s ease;
}

button:active {
  border: 5px solid var(--colorActive);
}
